@import "tailwindcss";
@font-face {
  font-family: "IRANYekan-Regular";
  src: url("./../public/assets/fonts/IRANYekan-Regular.woff2");
}
@font-face {
  font-family: "IRANYekan-Medium";
  src: url("./../public/assets/fonts/IRANYekan-Medium.woff");
}
@font-face {
  font-family: "IRANYekan-Bold";
  src: url("./../public/assets/fonts/IRANYekan-Bold.woff2");
}
@font-face {
  font-family: "IRANYekan-ExtraBold";
  src: url("./../public/assets/fonts/IRANYekan-ExtraBold.woff");
}
@font-face {
  font-family: "Heavy_MRT";
  src: url("./../public/assets/fonts/Casablanca\ Heavy_MRT.ttf");
}
* {
  font-family: "IRANYekan-Medium" !important;
}
.IRANYekan-Regular {
  font-family: "IRANYekan-Regular" !important;
}
.IRANYekan-Medium {
  font-family: "IRANYekan-Medium" !important;
}
.IRANYekan-Bold {
  font-family: "IRANYekan-Bold" !important;
}
.IRANYekan-ExtraBold {
  font-family: "IRANYekan-ExtraBold" !important;
}
input,
textarea {
  outline: none !important;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  cursor: pointer;
}
